<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCC3Iu7e2H7FXuLkIBvYF2e1FA_sLeAva8</string>
	<key>GCM_SENDER_ID</key>
	<string>955827558773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wooramsol.wordbaduk</string>
	<key>PROJECT_ID</key>
	<string>wordbaduk</string>
	<key>STORAGE_BUCKET</key>
	<string>wordbaduk.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:955827558773:ios:bf560dc3abab5db45e5b3c</string>
	<key>DATABASE_URL</key>
	<string>https://wordbaduk-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>